.header {
  position: relative;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background: #fff;
  box-shadow: 0 4px 6px 0 rgba(0,62,118,0.05), 0 0 2px 0 rgba(0,62,118,0.15);
  .float-left {
    display: flex;
    align-items: center;
    .header-logo {
      margin-right: 12px;
      height: 24px;
      width: 24px;
      >img {
        display: block;
        width: 100%;
      }
    }
    .header-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .float-right {
    >button {
      margin-left: 16px;
      width: 80px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
  }
}
