.header {
  background-color: #fff;
  color: #292936;
  height: 64px;
  border-bottom: 1px solid #cacad9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  z-index: 899;
  padding-left: 24px;
  padding-right: 24px;
}
.header,
.leftHeader {
  display: flex;
  align-items: center;
}
.centerHeader {
  flex: 1;
}
.rightHeader {
  display: flex;
}
.logo {
  float: left;
  margin-right: 8px;
}
.logoText {
  display: flex;
  align-items: baseline;
}
.logoType {
  font-size: 20px;
  margin-right: 8px;
}
.logoCompany {
  font-size: 14px;
  text-decoration: none;
  margin: 0;
}
.button {
  background-color: #8b37ff;
  padding: 8px 32px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 8px;
  border: 2px solid #8b37ff;
}
.buttonLabel {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.button:hover {
  background-color: #7b20f9;
}
.button:active {
  background-color: #590dc4;
  transform: scale(0.98);
}
.secondaryButton {
  background-color: #fff;
  padding: 8px 32px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 8px;
  border: 2px solid #cacad9;
}
.secondaryButtonLabel {
  color: #292936;
  font-weight: 700;
  font-size: 16px;
}
.secondaryButton:hover {
  background-color: #f4f4fa;
}
.secondaryButton:active {
  background-color: #e7e7ef;
  transform: scale(0.98);
}
