<div class="app-color-palette">
  <div class="palette-block">
    <div class="block-header">
      <div class="header-title">颜色数量</div>
    </div>
    <div class="block-group">
      <div class="group-content">
        <nz-slider class="slider-steps" [nzMin]="steps.min" [nzMax]="steps.max"
          [(ngModel)]="values.steps"
          (ngModelChange)="valueChange($event, 'steps')">
        </nz-slider>
        <div class="content-tip">{{ values.steps }}</div>
      </div>
    </div>
  </div>
  <div class="palette-block">
    <div class="block-header">
      <div class="header-title">插入颜色</div>
      <div class="header-btn">
        <a href="javascript:void(0);" (click)="minorStepsHandle.add()">添加</a>
        <a href="javascript:void(0);"
          (click)="minorStepsHandle.clear()">清空</a>
      </div>
    </div>
    <div class="block-group">
      <div class="group-content"
        *ngFor="let data of values.minor_steps_map;let i = index;">
        <nz-select [nzAllowClear]="true" [(ngModel)]="data"
          (ngModelChange)="minorStepsHandle.change($event, i)">
          <ng-template ngFor let-option [ngForOf]="minorSteps">
            <nz-option [nzValue]="option" [nzLabel]="option">
            </nz-option>
          </ng-template>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="palette-block">
    <div class="block-header">
      <div class="header-title">色相</div>
      <div class="header-btn">
        <a href="javascript:void(0);" (click)="chageGraph('hue')">查看曲线</a>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">开始</div>
      <div class="group-content">
        <nz-slider class="slider-hue" [nzMin]="hue.startMin"
          [nzMax]="hue.startMax" [(ngModel)]="values.hue_start"
          (ngModelChange)="valueChange($event, 'hue_start')">
        </nz-slider>
        <div class="content-tip">{{ values.hue_start }}</div>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">结束</div>
      <div class="group-content">
        <nz-slider class="slider-hue" [nzMin]="hue.endMin" [nzMax]="hue.endMax"
          [(ngModel)]="values.hue_end"
          (ngModelChange)="valueChange($event, 'hue_end')">
        </nz-slider>
        <div class="content-tip">{{ values.hue_end }}</div>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">矫正曲线</div>
      <div class="group-content">
        <nz-select [(ngModel)]="values.hue_curve"
          (ngModelChange)="valueChange($event, 'hue_curve')">
          <nz-option *ngFor="let option of curves" [nzValue]="option"
            [nzLabel]="option">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="palette-block">
    <div class="block-header">
      <div class="header-title">饱和度</div>
      <div class="header-btn">
        <a href="javascript:void(0);" (click)="chageGraph('sat')">查看曲线</a>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">开始</div>
      <div class="group-content">
        <nz-slider class="slider-sat" [nzMin]="saturation.startMin"
          [nzMax]="saturation.startMax" [(ngModel)]="values.sat_start"
          (ngModelChange)="valueChange($event, 'sat_start')">
        </nz-slider>
        <div class="content-tip">{{ values.sat_start }}
        </div>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">结束</div>
      <div class="group-content">
        <nz-slider class="slider-sat" [nzMin]="saturation.endMin"
          [nzMax]="saturation.endMax" [(ngModel)]="values.sat_end"
          (ngModelChange)="valueChange($event, 'sat_end')">
        </nz-slider>
        <div class="content-tip">{{ values.sat_end }}
        </div>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">矫正曲线</div>
      <div class="group-content">
        <nz-select [(ngModel)]="values.sat_curve"
          (ngModelChange)="valueChange($event, 'sat_curve')">
          <nz-option *ngFor="let option of curves" [nzValue]="option"
            [nzLabel]="option">
          </nz-option>
        </nz-select>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">曲率</div>
      <div class="group-content">
        <nz-slider class="slider-sat-rate" [nzMin]="saturation.rateMin"
          [nzMax]="saturation.rateMax" [(ngModel)]="values.sat_rate"
          (ngModelChange)="valueChange($event, 'sat_rate')">
        </nz-slider>
        <div class="content-tip">{{ values.sat_rate }}
        </div>
      </div>
    </div>
  </div>
  <div class="palette-block">
    <div class="block-header">
      <div class="header-title">明度</div>
      <div class="header-btn">
        <a href="javascript:void(0);" (click)="chageGraph('lum')">查看曲线</a>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">开始</div>
      <div class="group-content">
        <nz-slider class="slider-lum" [nzMin]="luminosity.startMin"
          [nzMax]="luminosity.startMax" [(ngModel)]="values.lum_start"
          (ngModelChange)="valueChange($event, 'lum_start')">
        </nz-slider>
        <div class="content-tip">{{ values.lum_start }}
        </div>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">结束</div>
      <div class="group-content">
        <nz-slider class="slider-lum" [nzMin]="luminosity.endMin"
          [nzMax]="luminosity.endMax" [(ngModel)]="values.lum_end"
          (ngModelChange)="valueChange($event, 'lum_end')">
        </nz-slider>
        <div class="content-tip">{{ values.lum_end }}
        </div>
      </div>
    </div>
    <div class="block-group">
      <div class="group-label">矫正曲线</div>
      <div class="group-content">
        <nz-select [(ngModel)]="values.lum_curve"
          (ngModelChange)="valueChange($event, 'lum_curve')">
          <nz-option *ngFor="let option of curves" [nzValue]="option"
            [nzLabel]="option">
          </nz-option>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="palette-block">
    <div class="block-header">
      <div class="header-title">锁定颜色 (可选)</div>
      <div class="header-btn">
        <a href="javascript:void(0);"
          (click)="valueChange('', 'lock_hex')">清空</a>
      </div>
    </div>
    <div class="block-group">
      <div class="group-content">
        <input nz-input [(ngModel)]="values.lock_hex"
          (ngModelChange)="valueChange($event, 'lock_hex')" />
      </div>
    </div>
  </div>
</div>
