$top-height: 60px;
.app-wrapper {
  min-width: 1000px;
  .app-content {
    display: flex;
    height: calc(100vh - #{$top-height});
    background-color: #f8f8f8;
    .content-palette {
      flex-shrink: 0;
      overflow: auto;
      padding: 24px;
      width: 24%;
      min-width: 240px;
      border-right: 1px solid #E9EBF1;
      background-color: #fff;
    }
    .content-main {
      flex-grow: 1;
      margin: 20px 0 20px 20px;
      width: 52%;
      .main-graph {
        margin-bottom: 20px;
        height: calc((100vh - 60px - #{$top-height}) / 2);
        box-shadow: 0 4px 6px 0 rgba(31, 31, 31, 0.05), 0 0 2px 0 rgba(31, 31, 31, 0.20);
        border-radius: 2px;
        background-color: #fff;
      }
      .main-chart {
        height: calc((100vh - 60px - #{$top-height}) / 2);
        box-shadow: 0 4px 6px 0 rgba(31, 31, 31, 0.05), 0 0 2px 0 rgba(31, 31, 31, 0.20);
        border-radius: 2px;
        background-color: #fff;
      }
    }
    .content-stack {
      flex-shrink: 0;
      margin: 20px;
      width: 24%;
      min-width: 240px;
      box-shadow: 0 4px 6px 0 rgba(31, 31, 31, 0.05), 0 0 2px 0 rgba(31, 31, 31, 0.20);
      border-radius: 2px;
      background-color: #fff;
    }
  }
}
