.app-color-chart {
  position: relative;
  padding: 16px 20px;
  width: 100%;
  height: 100%;
  .chart-header {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
  }
  .chart-content {
    width: 100%;
    height: calc(100% - 34px);
  }
}
